link[rel="icon"] {
    border-radius: 50%;
}

.homestyle{
    height: 80vh;
}

.rounded-circle {
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
    border-radius: 50%;
    object-fit: cover; /* Ensures the image fits within the circular frame */
}

/* Ripple effect */
.btn {
    position: relative;
    overflow: hidden;
}

.btn::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.4s ease, height 0.4s ease, opacity 0.4s ease;
    opacity: 0;
}

.btn:active::after {
    width: 200%;
    height: 200%;
    opacity: 1;
    transition: 0s;
}

/* Hover effect */
.btn:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

/* Default text size for larger screens */
.table {
    font-size: 1rem; /* Default font size */
}

.brand-text {

    color: rgb(190, 210, 248);
    font-size: 2.5rem; /* Default font size for brand text */
}
/* Medium screens (tablets) */
@media (max-width: 768px) {
    .table {
        font-size: 0.9rem; /* Slightly smaller font size */
    }
    .brand-text {
        font-size: 1.8rem; /* Slightly smaller font size */
    }
}

/* Small screens (mobile devices) */
@media (max-width: 576px) {
    .table {
        font-size: 0.7rem; /* Smaller font size for mobile */
    }
    .brand-text {
        font-size: 1.6rem; /* Smaller font size for mobile */
    }
    .btn {
        font-size: 12px; /* Smaller font size for buttons */
    }
    .homestyle {
        height: 74vh; /* Adjust height for mobile screens */
    }
}

@media (max-width:370px) {
    .brand-text {
        font-size: 1.4rem; /* Smaller font size for brand text on very small screens */
    }
    .homestyle {
        height: 74vh;
        /* Adjust height for mobile screens */
    }
}

@media (min-width: 577px) {
    .btn {
        font-size: 14px; /* Default font size for buttons */
    }
}


.router-link-active {
  color: rgb(179, 254, 18) !important; /* Highlight active link in yellow */
  font-weight: bold; /* Make the active link bold */
  animation: jump 0.5s ease-in-out; /* Add jumping animation */
}

/* Define the jumping animation */
@keyframes jump {
  0%, 100% {
    transform: translateY(0); /* Start and end at the original position */
    scale: 1; /* Ensure the scale is normal at start and end */
  }
  50% {
    transform: translateY(-5px); /* Move up slightly */
    scale: 1.05; /* Slightly increase the size at the peak of the jump */
  }
}